img {
    width: 150px;
    height: 150px;
}

.hero {
    background-color: #0f3d3e;
    padding: 3rem 1.5rem;
    color: #fde68a; 
    font-family: sans-serif;
}


.hero .btn {
    background-color: #fde68a;
    color: #0f172a
}